@media (max-width: 1081px){
    h1{
        font-size: 2rem;
        top: 0.6rem;
    }/*original, bootstrap css h1{size:2.5rem}*/
}
@media (max-width: 991px){
    nav li:last-of-type a{
    padding: 12px 0 0 0;
    }
}

/*-----------main---------------------------------*/
main{
    padding-top: 25px;
    padding-bottom: 160px;
    background-color: white;
}
h2{
    text-align: center;
}
form{
    max-width: 820px;
}

.alert{
    position: relative;
    bottom: 10px;
    width: fit-content;
}

/*newArticle.html*/
#headline{
    max-width: 500px;
}
#headline, #summary, textarea, select{
    margin-bottom: 20px;
}
.custom-file{
    margin: 15px 0 25px 0;
}
#checkboxArchive{
    margin: 20px 0 40px 0;
}

/*registration.php*/
#name, #surname, #username, #password, #passwordRep{
    max-width: 325px;
    margin-bottom: 22px;
}
#userSavedAlert, #loginAlert{
    position: relative;
    left: 180px;
    bottom: 44px;
}